body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
.header-bg-contact{
  background-image: url(../images/contact.jpg) !important;
  background-size: cover;
  background-position:center center ;
  background-repeat: no-repeat;
  height: 100vh;

}
#header-content h1{
    font-size: 80px !important;
}
@media only screen and (max-width: 350px){
    #header-content h1{
        font-size: 24vw !important;
    }
}
                                                             /* FORM SECTION START  */
.contact_section1{
    text-align: center;
}
.contact_section1 h2{
    font-size: 160px;
    color:rgba(128, 128, 128, 0.082);
}
@media only screen and (max-width:500px){
    .contact_section1 h2{
        font-size: 40vw;
        color:rgba(128, 128, 128, 0.082);
    } 
}
.contact_section1 h3{
    font-size: 35px;
    margin:-60px 0 0 0 ;
}
.contact_section1 p{
    font-size: 18px;
    margin:70px 0 !important;
}
.form_submit_area{
    text-align: center;
}
.form_submit_area input{
    padding: 30px 40px;
    background-color: orange;
    border:1px solid orange;
    color:white;
    transition: 0.5s;
}
.form_submit_area input:hover{
    background-color: transparent;
    color:orange;
}
.form_input_area,.form_submit_area{
    margin: 20px 0;
}
.form_input_area input{
   padding: 8px 10px;
}
                                                                       /* FORM SECTION END  */




                                                                     /* MAP SECTION START  */
 .contact_map{
     position:relative;
     top:0;
 }
.contact_map iframe{
    width: 100%;
    height: 100vh;
}
.content_map_logo{
    background-color: #190a49;
    padding: 55px 70px;
    position: absolute;
    top:14%;
    left: 33%;
    text-align: center;
}
.content_map_logo .map_logo{
    text-align: center;
    margin: 30px 0;
}
.content_map_logo ul{
    text-align: center;
}
.content_map_logo ul li{
    list-style-type: none;
    font-size: 18px;
    color: white;
    margin: 10px 0;
}
@media only screen and (max-width: 1000px){
    .content_map_logo{
        top:14%;
        left: 25%;
        text-align: center;
    }
}
@media only screen and (max-width: 800px){
    .content_map_logo{
        left: 20%;
        padding: 45px 50px;
    }
}
@media only screen and (max-width: 600px){
    .content_map_logo{
        left: 12%;
        padding: 40px 45px;
    }
}

@media only screen and (max-width: 520px){
    .content_map_logo{
        left: 12%;
        padding: 30px 10px;
    }
}
@media only screen and (max-width: 400px){
    .content_map_logo{
        left: 7%;
        padding: 30px 10px;
    }
}
@media only screen and (max-width: 365px){
    .content_map_logo{
        left: 2%;
        padding: 20px 8px;
    }
}

